version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: devburger-api
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=production
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/devburger
      - MONGODB_URL=mongodb://mongodb:27017/devburguer
    depends_on:
      - postgres
      - mongodb
    volumes:
      - ./uploades:/usr/src/app/uploades
    restart: unless-stopped

  postgres:
    build:
      context: .
      dockerfile: Dockerfile.postgres
    container_name: devburger-postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=devburger
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

  mongodb:
    build:
      context: .
      dockerfile: Dockerfile.mongodb
    container_name: devburger-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

volumes:
  postgres-data:
  mongo-data: